.list-ns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.danhsach {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: 40px;
  max-height: 200px; 
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.list.show-all {
  max-height: none; 
}


.song-item {
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  overflow: hidden;
  background: none;
}

.song-image-wrapper {
  width: 120px;  
  height: 120px;
  border-radius: 50%; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;  
}

.song-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.song-info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.song-title {
  font-family: "Vazirmatn-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.top-header {
  display: flex;
  align-items: center;
  font-family: "Vazirmatn-Bold", sans-serif;
  font-size: 25px;
  justify-content: space-between;
}


.highlight {
  color: #333;
  font-size: 30px;
  font-weight: 400;
}

.list-mix-container {
  height: 480px; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
  overflow: hidden;
}

.list-mix-1 {
  border-radius: 6px;
  flex-shrink: 0;
  height: 70px;
  position: relative;
  color: #333;
  display: flex; 
  align-items: center; 
  gap: 10px;
}
.bai-hat {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 100px;
  top: 13px;
}
.ten-bh {
  text-align: left;
  font-family: "CircularStd-Book", sans-serif;
  font-size: 20px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: relative;
  width: 210px;
}
.nghe-si {
  color: #b3b3b3;
  text-align: left;
  font-family: "CircularStd-Book", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 227px;
}
.the-loai {
  text-align: left;
  font-family: "CircularStd-Book", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 93px);
  top: 24px;
  width: 207px;
}
.heart {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 139px;
  top: 22px;
  overflow: visible;
}
.thoi-gian{
  color: #333;
  text-align: left;
  font-family: "CircularStd-Book", sans-serif;
  font-size: 20px;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  right: 63px;
  top: 23px;
}
.component-3 {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 20px;
  top: 22px;
  overflow: visible;
}
.so-tt {
font-size: 24px; 
font-weight: bold; 
color: #333; 
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
position: relative;
left: 40px;
}