{% extends "admin-app/navbar.html" %}

{% load static %} 

{% block main_content %}
<link rel="stylesheet" href="{% static 'admin-app/css/artist.css' %}">

<div class="top">
    <h1 class="text">Thông tin nghệ sĩ</h1>
    <button class="add-artist">Thêm nghệ sĩ</button>
</div>

<table>
    <thead>
        <tr>
            <th>Số thứ tự</th>
            <th>Ảnh đại diện </th>
            <th>Tên nghệ sĩ</th>
            <th>Số bài hát</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
      
        <tr>
            <td>1</td>
            <td>sontung.img</td>
            <td>Sơn Tùng</td>
            <td>30</td>
            <td>
                <button class="edit">Sửa</button>
                <button class="delete">Xóa</button>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>alan-walker.img</td>
            <td>Alan Walker</td>
            <td>40</td>
            <td>
                <button class="edit">Sửa</button>
                <button class="delete">Xóa</button>
            </td>
        </tr>
   
    </tbody>
</table>
{% endblock %}