body {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh; 
    overflow: hidden;
}

.sticky-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    background-color:#F5F5F5;
    padding: 20px 0;
    flex-shrink: 0;
}

.sticky-part .title {
    font-size: 40px;
    font-weight: bold;
    color: #222;
    align-items: center;
    margin-bottom: 80px;
}

.sticky-part .frame {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    padding-left: 35px; 
}

.sticky-part .frame.logout {
    margin-top: 200px;
}

.sticky-part .frame .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.sticky-part .frame .text {
    font-size: 20px;
    color: #333;
}

.sticky-part .frame:hover .icon,
.sticky-part .frame:hover .text {
    color: #48D1CC; 
}


.main {
    padding: 20px 30px 100px;
    width:85%;
    overflow-y: 100%;
    overflow: hidden; 
} 

.main-content {
    width: 100%; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 10px;
    height: 40px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #ffffff; /
}

.search-bar {
    display: flex;
    align-items: center;
    background:  #ffffff;
    border-radius: 10px;
    padding: 6px 10px;
    width: 60%;
    max-width: 500px;
    height: 30px;
    margin: 0 auto; 
    border: 1px solid #000000;
}

.search {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.search-for-musics-artists {
    color: #000000; 
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: 300;
    opacity: 0.6;
    background: transparent;
    outline: none;
    border: none;
}

.buttons {
    display: flex;
    gap: 12px;
    align-items: top;
    margin-left: auto; 
}

.button {
    border-radius: 4px;
    padding: 6px 15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.login, .signup {
    color: #ffffff;
    background: #48D1CC;
    border: none;
}
