{% extends "app/navbar.html" %}

{% load static %} 

{% block main_content %}
<link rel="stylesheet" href="{% static 'app/css/home.css' %}">

<div class="tranding-songs">
    <div class="top-header">
        <span class="highlight">Gợi ý cho bạn</span>
        <a href="{% url 'app:danhsachnhac' %}" class="view-all">Xem thêm</a> 
    </div>
    
    <div class="list-mix-container">
       
        <div class="list-mix-1">
          <div class="bai-hat">
            <div class="ten-bh">Đi giữa trời rực rỡ </div>
            <div class="nghe-si">Ngô Lan Hương</div>
          </div>
          <div class="the-loai">Nhạc trẻ</div>
          <img class="heart" src="{% static 'app/images/like.svg' %}" />
          <div class="thoi-gian">2 : 12</div> 
          <div class="so-tt">1</div> 
        </div>

        <div class="list-mix-1">
            <div class="bai-hat">
              <div class="ten-bh">Từng là</div>
              <div class="nghe-si">Vũ Cát Tường</div>
            </div>
            <div class="the-loai">Nhac tre</div>
            <img class="heart" src="{% static 'app/images/like.svg' %}" />
            <div class="thoi-gian">2 : 12</div>
            <div class="so-tt">2</div> 
        </div>

        <div class="list-mix-1">
            <div class="bai-hat">
              <div class="ten-bh">Lao tâm khổ tứ </div>
              <div class="nghe-si">Thanh Hưng</div>
            </div>
            <div class="the-loai">Nhạc trẻ</div>
            <img class="heart" src="{% static 'app/images/like.svg' %}" />
            <div class="thoi-gian">2 : 12</div>
            <div class="so-tt">3</div> 
        </div>

        <div class="list-mix-1">
          <div class="bai-hat">
            <div class="ten-bh">Lao tâm khổ tứ </div>
            <div class="nghe-si">Thanh Hưng</div>
          </div>
          <div class="the-loai">Nhạc trẻ</div>
          <img class="heart" src="{% static 'app/images/like.svg' %}" />
          <div class="thoi-gian">2 : 12</div>
          <div class="so-tt">4</div> 
        </div>

        <div class="list-mix-1">
          <div class="bai-hat">
            <div class="ten-bh">Lao tâm khổ tứ </div>
            <div class="nghe-si">Thanh Hưng</div>
          </div>
          <div class="the-loai">Nhạc trẻ</div>
          <img class="heart" src="{% static 'app/images/like.svg' %}" />
          <div class="thoi-gian">2 : 12</div>
          <div class="so-tt">5</div> 
        </div>

        <div class="list-mix-1">
          <div class="bai-hat">
            <div class="ten-bh">Lao tâm khổ tứ </div>
            <div class="nghe-si">Thanh Hưng</div>
          </div>
          <div class="the-loai">Nhạc trẻ</div>
          <img class="heart" src="{% static 'app/images/like.svg' %}" />
          <div class="thoi-gian">2 : 12</div>
          <div class="so-tt">6</div> 
        </div>
    </div>
</div>
 
<div class="playlist">
    <div class="top-header">
      <span class="highlight">Playlist</span>
    </div>
    <div class="list">
        <div class="list-item">
            <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}"/>
            <div class="list-info">
            <div class="list-title">Top Nhạc Trẻ</div>
            </div>
        </div>
        <div class="list-item">
          <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}"/>
          <div class="list-info">
          <div class="list-title">Top Nhạc Trẻ</div>
          </div>
        </div>
        <div class="list-item">
          <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}"/>
          <div class="list-info">
          <div class="list-title">Top Nhạc Trẻ</div>
          </div>
        </div>
      <div class="list-item">
        <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}"/>
        <div class="list-info">
        <div class="list-title">Top Nhạc Trẻ</div>
        </div>
      </div>
      <div class="list-item">
        <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}"/>
        <div class="list-info">
        <div class="list-title">Top Nhạc Trẻ</div>
        </div>
      </div>
      
    </div>  
</div>
{% endblock %}
